/* .heading {
  display: flex;
  width: 100%;
  border-bottom: 2px solid black;
  padding: 10px;
} */

/* 
.title-user-settings {
  display: flex;
  font-style: italic;
  font-size: 25px;
  margin: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

/* .user-name {
  justify-content: center;
  font-size: 9pt;
  display: flex;
  font-weight: bold;
} */

/* .users-icon-wrap {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  border: 3pt solid green;
} */

.user-cards {
  transition: transform 1.2s ease-in-out;
  transform: translateX(0);
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  justify-content: flex-end;
  gap: 10px;
  overflow: hidden;
  margin-bottom: -60px;
  margin-top: 10px;
  width: 100%;
}

.user-profile-photo {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 50%;
  object-fit: cover;
}
/* 
.user-card-wrap {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  border: 1pt solid red;

} */

.user-cards::-webkit-scrollbar {
  display: none;
}

.user-cards.visible {
  transform: translateX(100%);
}

.card-item {
  border: 1px solid rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  background-color: rgba(0, 34, 255, 0.647);
  width: 50px;
  display: flex;
}

.card-item.logged-in {
  background-color: rgba(0, 255, 4, 0.649);
  color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
  .user-cards {
    grid-template-columns: 1fr;
  }
}
