.user-index-scale-80 {
  transform: scale(0.8);
  transform-origin: top left;
  width: 100vh;
}

.heading {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 25px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  padding-left: 5px;
  width: 100%;
}

.user-cards {
  padding-top: 40px;
  display: flex;
  gap: 10px;
  max-width: 100vh;
  overflow-x: auto;
  /* margin: 0 auto; */
  align-items: center;
  justify-content: flex-start;
  /* border-top: 1px solid black; */
}          

.card-item {
  border: 1px solid rgb(98, 98, 98);
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding-bottom: 40px;
  width: 80px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-item.logged-in {
  background-color: rgb(0, 0, 0);
  color: white;
}

.user-profile-photo {
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  object-fit: cover;
  /* margin-bottom: 5px; */
}

.user-name {
  justify-content: center;
  font-size: 12pt;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  display: flex;
}

.user-logout-button,
.user-login-button {
  justify-content: center;
  display: flex;
}

.info-wrap {
  display: flex;
  align-content: right;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 768px) {
  

  .user-index-scale-80 {
    /* transform: scale(1); */
    width:100%;
  }
}