.heading {
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 25px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  padding-left: 5px;
  width: 100%;
}

.user-cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  align-items: center;
  margin-top: 20px;
  justify-content: flex-start;
  background-color: rgba(0, 119, 255, 0.586);
  margin-bottom: 30px;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 40px;
  padding-top: 40px;
}

.card-item {
  border: 2px solid rgb(0, 0, 0);
  align-items: center;
  margin-left: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  min-width: 150px;
  height: 120px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-item.logged-in {
  background-color: rgba(0, 30, 255, 0.649);
  color: white;
}

.user-profile-photo {
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  justify-content: center;
  font-size: 12pt;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  display: flex;
}

.info-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 10px;
}
