.container-wrapper {
  width: 100%;
  overflow-x:auto;
  /* border: 2px solid rgb(0, 255, 247); */

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  
  margin-bottom: 10vh;
}

.photos-index-container {
  display: flex;
  
}

.photo-item {
  padding: 3px;
  display: flex;
  
}

.pet-thumbnail {
  width: 15vh;
  height: 15vh;
  object-fit: cover;
  border: 2px solid rgb(64, 87, 72);
  border-radius: 10px;
  
}

