.container-wrapper {
  max-width: 100vh; 
  overflow-x: auto; 
  border: 2px solid rgb(0, 255, 247);
  padding: 5px;
  display: flex;
}
 
.photos-index-container {
  display: flex;
  width: 100vh;
}

.photo-item {
  padding: 3px;
  display: flex;
}

.pet-thumbnail {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px solid black;
}



