.reviewer-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1pt solid rgb(37, 255, 22);
  border-radius: 8px;
  padding: 8px;
}

.reviewer-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 1pt solid rgb(255, 0, 0);
}

.review {
  margin: 0 auto;
  display: flexbox;
  border: 1pt solid blue;
  border-radius: 8px;
  padding: 12px;
  max-width: 50vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.rating {
  display: block;
  gap: 8px;
  border: 1pt solid rgb(255, 49, 173);
}

.review-details-name {
  display: block;
  text-align: right;
  font-weight: bold; /* You can add more styles as needed */
  border: 1pt solid red;
  padding-right:30px;

}

.comment {
  flex: 1;
  border: 1pt solid rgb(0, 193, 184);
  text-align: center;
  padding:10px;
}
