.review-container {
  justify-content: right;
  /* padding-right:20px; */
  border: 1pt solid red;
 border-radius: 8px;
 margin-bottom:50px;

}

.reviewer-header {
  display: flex;
  justify-content: left;
  align-items: center;
  border: 1pt solid rgb(0, 0, 0);
  padding: 3px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5); 
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  height: 20px;
  margin-left: -5px;
}

.reviewer-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  border: 1pt solid rgb(0, 0, 0); 
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-left: -10px;
}

.rating-and-time-container{
  border: 1pt solid pink;
  margin-top:20px;
  margin-left:5px;
}

.rating {
  border: 1pt solid rgb(255, 49, 173);
}

.paw-filled {
  color: black;
} 

.timestamp {
  border: 1pt solid green;
  font-size:smaller;
  padding-top:3px;
 }
 
.review {
  border: 1pt solid rgb(98, 64, 250);
  text-align:left;
  padding-left: 20px;
  margin-top:20px; 
}

.reviewer-name {
  display: block;
  text-align: left;
  font-weight: bold; 
  border: 1pt solid rgb(134, 4, 255);
  padding-right: 10px;
  font-style: italic;
}

.reply-icon {
  font-size:20px;

  margin-top: -10px;
  left: 0;
  color:rgb(0, 0, 0);
  margin-left:40px;
  display: flex;
  border: 1pt solid orange;
}

.admin-reply-container {
  display: block;
  max-width: 40vh;
  margin-left: auto;
  border: 1pt solid red;
  border-radius: 8px;
  margin-bottom: 50px;
  margin-top:-30px;
}

.admin-header {
  display: flex;
  justify-content: flex-end;
  height: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  border: 1pt solid black;
  align-items: center;
}

.admin-profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right:-10px;
}

.admin-reply {
  margin-top:20px; 
  text-align: right;
  border: 1pt solid rgb(255, 0, 0);
  padding-right:50px;
  
}

.admin-name {
  text-align: right;
  font-weight: bold; 
  border: 1pt solid rgb(4, 255, 109);
  font-style: italic;
  margin-top:5px;
  padding-right: 50px;
  padding-top:5px;
}

.initials{
  color:black;
  font-size: 18px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}