.pet-name{
  border: 1pt solid red;
}

.caption {
  border: 1pt solid red;
}

.gallery-show-container {
  border: 1pt solid rgb(85, 0, 255);
  display: flex;
  justify-content: center; 
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 8px 30px 10px rgba(0, 0, 0, 0.517);
  margin: 0 auto; 
  
}


.pet-photo-gallery {
  max-width: 100%;
  display: flex;
  align-items: center;
}

.pet-photo-gallery img {
  max-width: 100%;
  object-fit: cover;

}


.slider-container {
  max-width:100%;
  overflow-x: auto;
  display: flex;
  justify-content: left;
  position: fixed;
  bottom: 6vh;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 3vh;
  /* border: 1pt solid blue; */

}

.thumbnail {
  width: 12vh;
  height: 12vh;
  object-fit: cover;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 5px;
  /* display: flex; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}
 
