.pet-name{
  border: 1pt solid red;
}

.caption {
  border: 1pt solid red;
}

.gallery-show-container {
  border: 10px double rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 8px 30px 10px rgba(0, 0, 0, 0.517);
  max-width: 100vh;
}

.pet-photo-gallery {
  width: 100%;
  height:60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  
}

.pet-photo-gallery img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-top: 10px double black;
  border-bottom: 10px double black;
  object-fit:fill
}


.slider-container {
  max-width:100%;
  overflow-x: auto;
  display: flex;
  justify-content: left;
  position: fixed;
  bottom: 6vh;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom:20px;

  /* border: 1pt solid blue; */

}

.thumbnail {
  width: 12vh;
  height: 12vh;
  object-fit: cover;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 5px;
  /* display: flex; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}
 
