.pet-name {
  position: fixed;
  padding: 10px;
  background-color: rgba(0, 128, 0, 0.476);
}

.caption {
  position: fixed;
  padding: 10px;
  background-color: rgba(0, 128, 0, 0.476);
}

.pet-photo-gallery img {
  display: flex;
  border-radius: 8px;
  max-width: 100%;
  max-height: 100%;
  width: 100vh;
  height: 70vh;
  margin-bottom: 30px;
  margin-top: 20px;
  object-fit: cover;
  border: 2pt solid black;
  box-shadow: 0px 8px 20px 10px rgba(0, 0, 0, 0.517);
}

.slider-container {
  max-width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: left;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding-bottom: 30px;
  background: linear-gradient(to bottom, rgba(0, 128, 0, 0.03) 0%, rgba(0, 128, 0, 0.2) 10%, rgba(0, 128, 0, 0.579) 100%);
}

.thumbnail {
  width: 12vh;
  height: 12vh;
  object-fit: cover;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 5px;
  box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.5);
}


@media (max-width: 600px) and (min-height: 500px) and (max-height: auto) {
  
  .image-container {
    border-radius: 8px;
    margin-top: 10px;
    max-height: 70vh;
    max-width: 100vh;
    display: flex;
  }

  .pet-photo-gallery img {
    max-width: 100%;
    max-height: 100vh;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
