.photos-index-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  
  margin-bottom: 10vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.photo-item {
  padding: 3px;
  display: flex;
  
}

.thumbnail {
  width: 15vh;
  height: 15vh;
  object-fit: cover;
  border: 2px solid rgb(64, 67, 87);
  border-radius: 10px;
  
}

