.admin-gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vh;
}

.admin-pet-gallery {
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(255, 0, 187);
  overflow: hidden; 
}

.pet-index-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border: 1px solid black;
}

.admin-pet-footer {
  color: white;
  background-color: rgba(108, 142, 109, 0.846);
  text-align: center;
  padding: 5px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.pet-show-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-show-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


@media screen and (min-width: 700px) {
  .admin-pet-gallery {
    grid-template-columns: repeat(7, 1fr);
  }
}
