.container-wrapper {
  max-width: 600px; 
  overflow-x: auto; 
  border: 2px solid black;
 
}

.photos-index-container {
  display: flex;
  flex-wrap: nowrap;
}

.photo-item {
  padding: 3px

}

.pet-photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid black;
}

.container-wrapper::-webkit-scrollbar {
  height: 7px;
 
}

.container-wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(191, 193, 190);
  outline: 1px solid rgb(0, 0, 0);
}

