.sidebar-container {
  background-color: rgba(32, 120, 234, 0.608);
  position: fixed;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  top: 72px;
  left: 0;
  bottom: 45px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: left 0.3s ease;
  z-index: 1000;

}

.middle-nav,
.top-nav,
.bottom-nav {
  /* border: 2pt solid red; */
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.top-nav {
  justify-content: flex-start;
}

.middle-nav {
  justify-content: center;
}
.sidebar-button {
  /* background-color: white; */
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.5);
}

.sidebar-button:hover {
  background-color: rgba(0, 21, 255, 0.614);
  color: white;
}

.sidebar-button.active {
  color: white;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(32, 119, 234);
}

.retracted .sidebar-button {
  cursor: not-allowed;
  pointer-events: none; 
  display: block; 
}

@media screen and (max-width: 1280px) {
  .sidebar-container.retracted {
    left: -40px;
    background-color: rgba(32, 120, 234, 0.608);
    cursor: grab;
    transition: left 0.3s ease;
  }
  .retracted .sidebar-button {
    cursor: not-allowed;
    pointer-events: none; 
    background-color: white; 
    display: block; 
    transition: left 0.3s ease;
  }
  
  
  
}
