#root {
  margin: 0 auto;
  padding: 5px;
  border: 1px solid rgb(28, 0, 242);
  left: 0;
  margin-bottom:10px;
  max-width: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
}

.content {
  margin: 0 auto;
  /* border: 2px solid rgb(255, 0, 208); */
  max-width: 100vh;
  
  /* padding: 2px; */
  left: 0;
  display: block;
  justify-content: center;
  align-items: center;
  
}

