#root {
  margin: 0 auto;
  margin-top:20px;
  /* border: 3px solid rgb(0, 102, 255); */
  background-color: rgb(255, 255, 255);;
  border-radius: 20px;
  max-width: 100vh;
  min-height: 90vh;
  display:flex;
  justify-content: center;
}

.content {
  /* margin-bottom: 12vh; */
  padding-left: 3vh;
  padding-right:3vh;
  /* border: 2px solid rgb(255, 0, 208); */
  max-width: 80vh;
  min-height:60vh;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}


.footer {
  background-color: rgb(255, 255, 255);
  position: fixed;
  border: 1px solid black;
  left: 0px;
  right: 0px;
  bottom: 0px;
  box-shadow: 0px 8px 30px 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 1;
  max-height: 200px;
  display: flex;
  justify-content: center; 
  align-items: center;
}
