/* USER PROFILE SETTINGS  */

.delete-account-button,
.profile-photo-change-button, 
.user-logout-button,
.change-password-button,
.user-login-button,
.user-logout-button {
  justify-content: center;
  display: flex;
  border-radius: 6px;
  font-size: 12px;
  background-color: rgb(0, 34, 255);
  color: white;
  height:30px;
  justify-content: center;
  align-items: center;
}

.profile-photo-change-button {
  background-color: rgba(0, 34, 255, 0.746);
}