.header-container {
  background-color: rgb(187, 213, 147);
  position: fixed;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  left: 0px;
  right: 0px;
  top: 0px;
  box-shadow: 0px 8px 30px 10px rgba(0, 0, 0, 0.2);
  padding: 6px;
  max-height: 200px;
  z-index: 1;
}

.nav-bar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 5px;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-button {
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10%;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
  display: flex;
  transition: background-color 0.3s ease;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.nav-links.show,
.dropdown-content.show {
  display:flex !important;

}

.nav-button:hover {
  background-color: rgb(90, 116, 51);
  color: white;
  border: 1px solid rgb(0, 0, 0);
}

.nav-button.active {
  color: white;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(90, 116, 51);
}

.profile-photo {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: context-menu;
  overflow: hidden;
  border: 1px solid rgb(0, 0, 0);
}

.admin-dropdown .dropdown-content {
  display: block;
  position: absolute;
  background-color: rgb(187, 213, 147);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(0, 0, 0);
  z-index: 1;
  width: 160px;
  right: 0;
  text-align: center;
  margin-right: 12px;
  margin-top: 23px;
  padding: 10px;
}

.admin-dropdown .dropdown-content button {
  width: 150px; 
  height: 40px;
  margin: 3px 0;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  justify-content: center;
}

/* MEDIA QUERY FOR SCREEN SIZES */

/* small screens */

@media screen and (max-width: 650px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    cursor: context-menu;
    border: 1px solid black;
    padding: 3px;
    margin-left: 5px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
  }
  
  
  .menu-icon .line {
    width: 80%;
    background-color: #000;
    margin: 3px;
    align-items: center;
    border-radius: 10px;
    height: 3px;
    display: flex;
    justify-content: center;
    background-color: #000;
   
    
  }

  .nav-links-dropdown {
    display: block;
    position: absolute;
    background-color: rgb(187, 213, 147);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(0, 0, 0);
    z-index: 1;
    max-width: 160px;
    left: 0;
    text-align: center;
    margin-right: 12px;
    margin-top: 15px;
    padding: 10px;
  }
}

/* Larger screens */
@media screen and (min-width: 651px) {
  .nav-links-dropdown {
    display: none;
  }
}
