.header-container {
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  left: 5px;
  right: 5px;
}
.nav-bar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(100% - 20px); 
  margin: 0 auto;
}

.nav-links {
  display: flex;
}

.nav-button {
  background-color: white;
  border: none;
  border-radius: 10%;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: lightgreen; 
}

.nav-button.active {
  background-color: lightgreen;
}

.profile-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: context-menu;
  overflow: hidden;
  border: 4px solid #034407;
  margin-right: 10px;
}

.admin-dropdown .dropdown-content {
  display: block;
  position: absolute;
  background-color: transparent;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 150px;
  right: 0;
  text-align: right;
  margin-right: 20px;
}

.admin-dropdown .dropdown-content button {
  width: 100%; 
  height: 40px;
  margin: 3px 0;
}

.admin-dropdown:hover .dropdown-content {
  display: block;
}

