.header-container {
  background-color: rgb(255, 255, 255);
  position: fixed;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  left: 0px;
  right: 0px;
  top: 0px;
  box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.5);
  max-height: 200px;
  z-index: 1000;
}

.nav-bar {
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 5px;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-button {
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
  display: flex;
  transition: background-color 0.3s ease;
  box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.5);
}

/* .nav-links.show,
.dropdown-content.show {
  display:flex !important;

} */

.nav-button:hover {
  background-color: rgb(90, 116, 51);
  color: white;
  border: 1px solid rgb(0, 0, 0);
}

.nav-button.active {
  color: white;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(90, 116, 51);
}

.profile-photo {
  box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid rgb(0, 0, 0);
  object-fit: cover
}

.admin-dropdown .dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(0, 0, 0);
  width: 135px;
  border-radius: 10px;
  z-index: 1;
  margin:5px;
  padding: 10px;
  right: 0;
  margin-top: 12px;
}

/* MEDIA QUERY FOR SCREEN SIZES */

/* small screens */

@media screen and (max-width: 650px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    cursor: context-menu;
    border: 1px solid black;
    box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.5);
    /* padding: 3px; */
    margin: 5px;
    border-radius: 6px;
    width:50px;
    padding: 5px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    /* color: white; */
    display: flex;
    color: rgb(0, 0, 0);
    /* flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
    /* overflow: hidden; */
    /* object-fit: cover; */
  }

  .nav-links-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(0, 0, 0);
    width: 135px;
    border-radius: 10px;
    z-index: 1;
    margin:5px;
    padding: 10px;
    
  }
}

/* Larger screens */
@media screen and (min-width: 651px) {
  .nav-links-dropdown {
    display: none;
  }
  .menu-icon {
    display: none;
  }
}
