.icon {
  display: flex;
  border-radius: 8px;
  padding: 5px;
  width: 35px;
  height: 35px;
  background-color: blue;
  color: white;
}

.profile-photo-edit-icon {
  height: 20px;
  display: flex;
  background-color: blue;
  color: white;
  margin: 5px;
}

.info-icon,
.edit-icon {
  padding: 5px;
  margin: 5px;
  color: rgb(255, 255, 255);
}

.card-icon-wrap,
.users-icon-wrap {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  padding-bottom: 5px;
  border-bottom:1px solid black;
}

.card-icon-wrap {
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .icon {
    width: 25px;
    height: 25px;
    border-radius: 5px;
  }
}
