
.add-user-icon,
.users-icon {
  display: flex;
  border-radius: 8px;
  /* padding: 10px; */
  /* width:100%; */
  height: 35px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.icon {
  background-color: blue;
  color: rgb(255, 255, 255);
  padding: 10px;
  width:35px;
  height: 35px;
}

.profile-photo-edit-icon {
  height: 20px;
  display: flex;
  background-color: blue;
  color: white;
  margin: 5px;
}

.info-icon,
.edit-icon {
  padding: 5px;
  margin: 5px;
  color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .icon,
.add-user-icon,
.users-icon {
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }

  .add-user-icon,
  .users-icon {
   
    width:30px;
    height: 30px;
  }
}
