
.icon {
  display: flex;
  /* justify-content: flex-end; */
  border-radius: 8px;
  padding: 5px;
  width: 40px;
  height: 40px;
  background-color: blue;
  color: white;
}

/* 
.icon-wrap {
  display: flex;
 
  justify-content: flex-start;
  gap:5px;
  border: 1pt solid red;
  
} */

.edit-icon {
  padding: 5px;
  margin: 5px;
  color: rgb(255, 255, 255);
}

.card-icon-wrap,
.users-icon-wrap {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  /* border-bottom: 1pt solid black; */
  width: 100%;
  
}

.card-icon-wrap{
  justify-content: center;
  align-items: center;
}
  

@media (min-width: 768px) {

  .icon{
    width: 25px;
    height: 25px;
    border-radius: 5px;;
  
  }
}

