html {
  padding-top: 60px;
  padding-bottom:60px;
  margin: 0 auto;
  max-width: 1080px;
  scroll-behavior: smooth;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:rgba(47, 128, 0, 0.412);
}


 @media (max-width: 1268px) {
  .content {
    padding-left:25px;
  }
 }

