html {
  
  padding-top:12vh;
  padding-bottom: 12vh;
  scroll-behavior: smooth;
  background-color: #586e58;
  /* justify-content: center;
  align-items: center; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

