
.font-18 {
  font-size: 18px;
}

.font-13 {
  font-size: 12px;
}

.gap-3px {
  display: flex;
  gap: 3px;
}

.gap-5px {
  
  gap: 5px;
}

.gap-10px {
  gap:10px
}

.outline {
  border: 2pt solid red;
}

.align-center {
  display: flex;
  align-items: center;
}

.align-start {
  display:flex;
  align-items: flex-start;
}

.align-end {
  display: flex;
  align-items: flex-end;
}

.padding-5px {
  padding: 5px;
}

.padding-10px {
  padding: 10px;
}

.fixed {
  position: fixed;
}

.overflow-visible {
  overflow: visible;
}

.overflow-auto {
  overflow: auto;
}

.padding-bottom-5px {
  padding-bottom: 5px;
}

.padding-right-5px {
  padding-right: 5px;
}

.padding-left-5px {
  padding-left: 5px;
}

.padding-top-5px {
  padding-top: 5px;
}

.padding-bottom-1px {
  padding-bottom: 1px;
}


.justify-center {
  display: flex;
  justify-content: center;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.font-10 {
  font-size: 10px;
}

.font-14 {
  font-size: 14px;
}

.width-100 {
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.grid-2-col {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  border: 2pt solid lime;
}

.row {
  display: flex;
  flex-direction: row;
}

.flex-wrap {
  display: flex;
  border: 1pt solid rgb(0, 0, 0);
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.users-bar {
  display: flex;
  border: 1pt solid rgb(0, 0, 0);
  background-color: rgba(32, 120, 234, 0.608);
  border-radius: 5px;
  align-items: center;
  padding:5px;
  gap: 5px;
 justify-content: flex-end;

 
}

.user-cards {
  transition: transform 1.5s ease-in-out;
  transform: translateX(0);
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  
}

.user-cards::-webkit-scrollbar {
  display: none;
}

.user-cards.visible {
  transform: translateX(30%);
}

.card {
  border: 1px solid rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: white;
  height: 50px;
  width: 50px;
  display: flex;
}

.card-item {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 50%;
  object-fit:cover;
  align-items: center;
  justify-content: center;

}

.card.logged-in {
  background-color: rgba(0, 255, 4, 0.649);
}

.user-photo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border:2px solid black;
}

.overlay {
  display: flex;
  z-index: 3;
  gap:5px;
  margin-top:-40px;
  margin-left:100px;
  align-items: flex-end;
}

.card-header-wrap {
  display: flex;
  color: rgb(255, 255, 255);
  background-color:rgba(0, 115, 255, 0.674);
  border: 1pt solid black;
  border-radius: 5px;
  padding: 10px;
}


.bio-card-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}

