.gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.show-user-name {
  font-size: 15pt;
  padding: 10px;
  justify-content: center;
  display: flex;
}

.user-settings-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.164);
  height: 100px;
  width: 100%;
  margin-left: -20px;

}

.card-header-wrap {
  display: flex;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  align-items: center;
}


.card-content-wrap {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 100%; */
  /* border: 1pt solid red;; */
}

.card-content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-1,
.profile-photo-wrap {
  display: flex;

  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: flex-end;
  margin-top: -30px;

 /* border-radius: 8px; */
 /* background-color: rgb(255, 255, 255); */
 /* border: 1px solid rgb(0, 0, 0); */
  /* z-index: 1000; */
 
}


.profile-photo-wrap {
  padding:10px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  z-index:3
}




.show-photo {
  width: 150px;
  height: 150px;
  border: 1pt solid rgb(0, 0, 0);
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-bottom: 60px;
  width: 100%;
  margin-top: 20px;
}

.col-1 {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, 2fr);
}

.col-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.info-cards-wrap {
  border-radius: 8px;
  border: 2px solid rgb(0, 0, 0);
  background-color:rgba(255, 255, 255, 0.278);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
 
}

.grid-2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  min-height: 100px;
}

@media (max-width: 768px) {
  .user-information {
    grid-template-columns: 1fr;
    margin-top: -20px;
  }
}

