/* Add this CSS to your UsersShow.css */

.show-heading {
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 25px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.show-info-wrap {
  display: grid;
  grid-template-columns: repeat(3,3fr);
  grid-gap: 20px;
  border: 2pt solid rgb(30, 0, 255);
  height: 500px;
  gap:20px;
  width: 100%;
}

.password-wrap,
.delete-wrap {
  /* padding: 15px; */
  border: 1px solid #890b0b;
}

.show-photo-wrap {
  /* grid-column: span 4; */
  border: 1pt solid black;
justify-content: center;
 /* display: flex; */

}

.show-user-name {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid black;
  font-size: 13pt;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  background-color: rgb(150, 105, 255);
  /* width: 100%; */
  text-align: center;
  margin-bottom: 20px;
}

.show-user-profile-photo {
  z-index: 1;
  width: 100px;
  height: 100px;
  border: 2px solid #990f0f;
  border-radius: 0;
  object-fit: cover;
  display: flex;
}

.change-profile-photo-button {
  /* margin-top: 10px; */
  display: flex;
  border: 1pt solid yellow;
  justify-content: center;
}

.info-wrap {
  /* display: flex; */
  border: 1pt solid rgb(0, 0, 0);
}

.bio-wrap {
  grid-row: 2,0fr;
  display: flex;
  border: 1px solid rgb(0, 151, 207);
  /* width: 100%; */
}

.social-media-wrap {
  display: flex;
  border: 1pt solid hotpink;
  /* width: 100%; */
}

.name-wrap {
  display: flex;
  /* width: 100%; */
  border: 1px solid lime;
}

.email-wrap {
  display: flex;
  /* width: 100%; */
  border: 1px solid lime;
}

.phone-wrap {
  display: flex;
  /* width: 100%; */
  border: 1px solid lime;
}

.address-wrap {
  display: flex;
  /* width: 100%; */
  border: 1px solid rgb(255, 217, 0);
}
