.gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box {
  display: flex;
  width: 100%;
  border: 1pt solid lime;
}

.two-row-container {
  border: 2pt solid lime;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  width: 100%;
  gap: 10px;
}

.button-wrap {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  /* border: 2pt solid red; */
  width: 100%;
}

.users-icon-wrap {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  align-items: flex-end;
  height:50px;
  overflow: visible;
  margin-top:10px;
}

.profile-photo-wrap {
  display: flex;
  justify-content: flex-start;
  border-radius: 8px;
  border:1pt solid black;
  background-color: white;
  padding: 10px
}

.show-photo {
  width: 150px;
  height: 150px;
  border: 1pt solid rgb(0, 0, 0);
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-cards-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 5pt solid rgb(255, 0, 255);
}

.user-cards {
  transition: transform 1.5s ease-in-out;
  transform: translateX(0);
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  justify-content: flex-start;
  gap: 10px;
  /* border: 1pt solid rgb(0, 0, 0); */
}

.user-cards::-webkit-scrollbar {
  display: none;
}

.user-cards.visible {
  transform: translateX(100%);
}

.card-item {
  border: 1px solid rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: rgba(0, 34, 255, 0.647);
  height: 50px;
  width: 50px;
  display: flex;
}

.card-item-photo {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 50%;
  object-fit: cover;
  align-items: center;
}

.card-item.logged-in {
  background-color: rgba(0, 255, 4, 0.649);
}

.header-name-wrap {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  width:100%;
  display: flex;
  justify-content: flex-end;
}
.user-settings-header {
  display: flex;
  /* height: 50px; */
  gap: 10px;
  /* border: 1pt solid rgb(0, 0, 0); */
  /* background-color: rgba(0, 0, 255, 0.178); */
  /* border-radius: 8px; */
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  
  /* margin-top: 10px; */
}

.user-information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card-header-wrap {
  display: flex;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  align-items: center;
}

.card-header-text {
  display: flex;
  width: 100%;
  color: rgb(255, 255, 255);
  justify-content: flex-start;
  align-items: center;
}

.card-content-wrap {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card-content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.bio-card-wrap,
.info-cards-wrap {
  border-radius: 8px;
  border: 1px solid rgb(153, 153, 153);
  background-color: rgba(255, 255, 255, 0.278);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  overflow: hidden;
}

.bio-card-wrap {
  height: 100%;
}

.grid-2-cols,
.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* min-height: 100px; */
  /* border: 1pt solid rgb(255, 191, 0); */
}

.grid-3-cols {
  grid-template-columns: repeat(3,1fr);
}

@media (max-width: 768px) {
  .user-information {
    grid-template-columns: 1fr;
  }

  .show-photo {
    width: 105px;
    height: 105px;
  }
}
