.gap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.flex-row {
  /* border: 1pt solid red; */
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.address-wrap,
.social-media-wrap {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: white;
  padding: 10px;
  border: 1pt solid black;
  border-radius: 5px;
}

.address-wrap {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.font-10 {
  font-size: 12px;
}

.name-wrap {
  display: flex;
}

.border-top-bottom-1px {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.padding-top-bottom-10px {
  padding-top: 20px;
  padding-bottom: 20px;
}

.user-info-wrap {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 40%;
  align-items: center;
  border: 1pt solid black;
  border-radius: 5px;
  background-color: rgba(32, 120, 234, 0.608);
  gap: 15px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.line {
  border: 0.5px solid rgba(0, 0, 0, 0.277);
  width: 80%;
  border-radius: 5px;
}

.box-center,
.box-flex-start {
  display: flex;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100%;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* border: 1pt solid rgb(13, 255, 0); */
  /* padding: 20px; */
  padding-left: 0;
}

.box-center {
  justify-content: center;
}

.box-flex-end {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.box-flex-start {
  align-items: flex-start;
  /* width: 100%; */
  padding: 10px;
  border: 1pt solid black;
  border-radius: 5px;
}

.box-flex-direction-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.users-icon-wrap {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.user-cards-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 5px;
  /* border: 5pt solid rgb(255, 0, 255); */
}

.user-cards {
  transition: transform 1.5s ease-in-out;
  transform: translateX(0);
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  justify-content: flex-end;
  gap: 10px;
  /* border: 1pt solid rgb(0, 0, 0); */
}

.user-cards::-webkit-scrollbar {
  display: none;
}

.user-cards.visible {
  transform: translateX(0100%);
}

.card-item {
  border: 1px solid rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: white;
  height: 50px;
  width: 50px;
  display: flex;
}

.card-item-photo {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 50%;
  object-fit: cover;
  align-items: center;
}

.card-item.logged-in {
  background-color: rgba(0, 255, 4, 0.649);
}

.users-slide-container {
  display: flex;
  /* height: 50px; */
  /* gap: 10px; */
  border: 1pt solid rgb(0, 0, 0);
  background-color: rgba(32, 120, 234, 0.608);
  border-radius: 5px;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.user-name-email-phone-wrap {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.user-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  border: 1pt solid black;
  display: flex;
}

.card-header-wrap {
  display: flex;
  color: rgb(255, 255, 255);
  background-color: rgba(32, 120, 234, 0.608);
  align-items: center;
  border: 1pt solid black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: none;
  justify-content: space-between;
  height: 15px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.card-header-text {
  display: flex;
  width: 100%;
  padding-left: 10px;
  /* color: rgb(255, 255, 255); */
  justify-content: flex-start;
  align-items: center;
}

.card-content-wrap {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1pt solid black;
  border-radius: 5px;
  background-color: white;
}

.overlay {
  margin-top: -50px;
  margin-left: 100px;
}

.card-content-wrap-center {
  align-items: center;
  gap: 10px;
}

.bio-card-wrap
 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  border-top: none;
  
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  /* width: 100%; */
  padding: 10px;
}

/* .bio-card-wrap {
  border
 
} */

.size-200px-400px{
  width: 200px;
  height: 400px;
}


@media (max-width: 768px) {
  .social-media-wrap {
    align-items: center;
    justify-content: center;
  }
}
